a.Extension.cover-container {
  text-decoration: none;
  border-radius: 10px;
  overflow: hidden;
  width: 400px;
  height: 100px;
  padding: 5px;
  border: 2px solid var(--surface);
  cursor: pointer;
  user-select: none;

  background-color: #dedede;
  color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.8rem;
}

a.Extension.cover-container:hover {
  border-color: var(--active);
}

a.Extension.cover-container > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 15px;
}