div.book-files-item-container {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
}

label.book-files-item-label {
  flex: 1;
  align-items: center;
  gap: 5px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 0;
}

p.book-files-item-title {
  flex: 1;
}

div.book-files-item-container:not(:last-child) {
  border-bottom: 1px solid var(--on-surface);
  
}

svg.book-files-item-read {
  color: var(--on-surface);
}

svg.book-files-item-read.read {
  color: var(--active);
}