span.loader-container-1 {
  --loader-container-1-size: 25px;
  width: var(--loader-container-1-size);
  height: var(--loader-container-1-size);
  border-radius: 50%;
  display: inline-block;
  border-top: calc(var(--loader-container-1-size) / 10) solid var(--text-color);
  border-right: calc(var(--loader-container-1-size) / 10) solid transparent;
  box-sizing: border-box;
  animation: rotation-loader-container-1 1s linear infinite;
}

span.loader-container-1::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: var(--loader-container-1-size);
  height: var(--loader-container-1-size);
  border-radius: 50%;
  border-left: calc(var(--loader-container-1-size) / 10) solid var(--active);;
  border-bottom: calc(var(--loader-container-1-size) / 10) solid transparent;
  animation: rotation-loader-container-1 0.5s linear infinite reverse;
}

@keyframes rotation-loader-container-1 {
  0%   { transform: rotate(0deg);   }
  100% { transform: rotate(360deg); }
} 