div.ListItem-component-container {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  user-select: none;
}

div.ListItem-component-container:not(:last-child) {
  border-bottom: 1px solid var(--on-surface);
}

div.ListItem-component-container > label {
  flex: 1;
  align-items: center;
  gap: 5px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 0;
}

div.ListItem-component-container > label > p {
  flex: 1;
}

div.ListItem-component-container > input {
  padding: 8px 0;
  cursor: pointer;
  accent-color: var(--active);
}

div.ListItem-component-container:has(input:checked) {
  background-color: var(--active-surface);
}

div.ListItem-component-container > input.auto-selected {
  accent-color: var(--text-color);
}

div.ListItem-component-container:has(input:checked.auto-selected) {
  background-color: var(--text-color-surface);
}


div.ListItem-component-container > label > svg.state {
  color: var(--on-surface);
}

div.ListItem-component-container > label > svg.state.active {
  color: var(--active);
}


summary.ItemGroup-title {
  cursor: pointer;
  padding: 8px;
  font-weight: bold;
  background-color: var(--surface);
  border-radius: 10px;
  margin-bottom: 2px;
}

details.ItemGroup-container {
  padding: 5px;
  margin: 5px 0;
  user-select: none;
}

details.ItemGroup-container:not(:last-child) {
  border-bottom: 1px solid var(--on-surface);
}
