dialog.modal {
  margin: auto;
  outline: none;
  border: none;
  border-radius: 10px;
  padding:20px;
  text-align: center;
  background-color: var(--background-color);
}

/* Estilo para el fondo semitransparente */
dialog.modal::backdrop {
  background: rgba(0, 0, 0, 0.8);
}

header.modal-header-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

h2.modal-header-title {
  flex: 1;
}